openapi: 3.2.0
info:
  title: Hubstaff Client Invoices API
  description: The Hubstaff API v2 provides programmatic read and write access to Hubstaff's time tracking, timesheet, workforce management, and project management data - organizations, members, teams, projects, tasks, clients, activities (10-minute tracked time blocks with activity percentages), daily activity aggregates, time entries, timesheets and approvals, time off requests/policies/balances, attendance schedules and shifts, screenshots, app and URL usage, invoices, team payments, and webhooks.
  version: '2.0'
  contact:
    name: Hubstaff Developer Portal
    url: https://developer.hubstaff.com/
  termsOfService: https://hubstaff.com/terms
servers:
- url: https://api.hubstaff.com
  description: Hubstaff production API (paths include the /v2 prefix)
security:
- oauth2:
  - hubstaff:read
- personalAccessToken: []
tags:
- name: Client Invoices
  description: Invoices issued to clients.
paths:
  /v2/organizations/{organization_id}/client_invoices:
    get:
      operationId: getV2OrganizationsOrganizationIdClientInvoices
      tags:
      - Client Invoices
      summary: List organization client invoices
      description: 'Returns invoices sent to clients for the given organization.


        Results can be filtered by client_ids[], issue_date[start]/[stop], and status. Use include_line_items=true to include invoice line items.'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: page_start_id
        in: query
        description: The page start ID.
        schema:
          type: integer
          format: int32
          default: 0
      - name: page_limit
        in: query
        description: The default page size
        schema:
          type: integer
          format: int32
          default: null
      - name: client_ids
        in: query
        description: List of client IDs
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: issue_date[start]
        in: query
        description: Start date (ISO 8601)
        schema:
          type: string
          format: date
      - name: issue_date[stop]
        in: query
        description: Stop date (ISO 8601)
        schema:
          type: string
          format: date
      - name: status
        in: query
        description: Invoice status
        schema:
          type: string
          enum:
          - draft
          - open
          - closed
      - name: include_line_items
        in: query
        description: Include invoice line items
        schema:
          type: boolean
          default: false
      - name: include
        in: query
        description: Specify related data to side load.
        schema:
          type: array
          items:
            type: string
            enum:
            - users
            - clients
            - projects
            - tasks
      responses:
        '200':
          description: A list of client invoices
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '403':
          description: API access is only for organizations on an active plan
        '404':
          description: Could not find record
        '429':
          description: Rate limit exceeded
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: Hubstaff Account OpenID Connect / OAuth 2.0 authentication. Scopes are hubstaff:read and hubstaff:write.
      flows:
        authorizationCode:
          authorizationUrl: https://account.hubstaff.com/authorizations/new
          tokenUrl: https://account.hubstaff.com/access_tokens
          scopes:
            hubstaff:read: Read access to the Hubstaff API
            hubstaff:write: Write access to the Hubstaff API
    personalAccessToken:
      type: http
      scheme: bearer
      description: Access token obtained by exchanging a personal access token (created at https://developer.hubstaff.com/personal_access_tokens) via the OAuth 2.0 refresh token grant at https://account.hubstaff.com/access_tokens. PATs expire after 90 days.
externalDocs:
  description: Hubstaff API v2 reference (interactive)
  url: https://developer.hubstaff.com/docs/hubstaff_v2
